/* main style sheet */

body{
	margin:0;
	padding:0;
	
	background-color:#ececec;
	
}

nav ul {
	list-style: none;
	margin: none;
}
nav ul li {
	display: inline;
	padding: 0.8em; 
	
}  
#main-header{
	text-align: center;
}

@media(min-width:786px){
	.container{
		margin: auto;
		width: 80%;
	}
	#main-section{
		display: flex;
		
	}
	#main-header{
		display: flex;
	}
	
}

 
