/* main style sheet */

body{
	margin:0;
	padding:0;
	
	background-color:#ececec;
	font-family: Arial, san-serif, halvetica;
}

nav ul {
	list-style: none;
	margin: none;
}
nav ul li {
	display: inline;
	padding: 0.8em; 
	
}  
#main-header{
	text-align: center;
}
#highlight-section{
	background: url("../images/saw-large.jpg") no-repeat right top;
}
.custom-h1{
	font-size: 1.6em;
	font-weight: bold;
}


@media(min-width:786px){
	.container{
		margin: auto;
		width: 80%;
	}
	#main-section .container{
		display: flex;
		
	}
	#main-header .container{
		display: flex;
	}
	
}

 
    
